<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
   <div text-center style="margin-top:10%">
        <ion-item lines="none">

            <ion-button expand="block" size="large" color="primary" (click)="openTab(1)">
                <!-- <ion-icon slot="end" name="arrow-forward"></ion-icon> -->
                SP Class </ion-button>
        </ion-item>
        <ion-item lines="none">
            <ion-button expand="block" size="large" color="secondary">
                <!-- <ion-icon slot="end" name="arrow-forward"></ion-icon> -->
                Dhananjay School of Arts </ion-button>
        </ion-item>  
        <ion-item lines="none">
            <ion-button expand="block" size="large" color="tertiary">
                <!-- <ion-icon slot="end" name="arrow-forward"></ion-icon> -->
                Others </ion-button>
        </ion-item>  
      </div>
</ion-content>
